$color-black: #000;
$color-mainblack: #333;
$color-white: #fff;
$color-lightgray: #dbe4e5;
$color-gold: #ffd700;
$color-aquamarine: #7fffd4;
$color-bluegray: #607D8B;
$color-cyan: #5f9ea0;
$color-cornblue: #6495ed;
$color-violet: #c171e0;
$color-tealpurple: #8d74c5;
$color-blueviolet: #8a2be2;
$color-orangered: #ff4500;
$color-crimson: #dc143c;
$color-orangegold: #FFC107;
$color-jade: #345c5e;